<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544963073160-6fofu5f8glcivk1k6qb0juvikv9akdvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544963073160-6fofu5f8glcivk1k6qb0juvikv9akdvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDECuaXJ7T265PYZjPF-EeYggRoEY1G0HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>544963073160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pronind.familitytodo</string>
	<key>PROJECT_ID</key>
	<string>familytodo-82fef</string>
	<key>STORAGE_BUCKET</key>
	<string>familytodo-82fef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544963073160:ios:26c3a460256ec9b6</string>
	<key>DATABASE_URL</key>
	<string>https://familytodo-82fef.firebaseio.com</string>
</dict>
</plist>